# VSCode configuration
.vscode

# Miscellaneous files
Misc

# Prettier configuration
.prettierrc

# Local helper scripts
.helper-scripts

# Environment variables
.env

# Maven target folder
/server/sales-system/target/
