@import '../../../public/sass/utilities/variables';

.purchases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.purchases-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 25px;
  background-color: $white;
  border-radius: 5px;
  width: $max-width;
  height: auto;
  padding: 30px;
}

.purchase-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: auto;
}

.purchases-table {
  width: 90% !important;
  margin: 0 auto;
}

div.dx-datagrid-columns-separator.dx-datagrid-columns-separator-transparent {
  height: 0 !important;
}

div.dx-datagrid-tracker.dx-state-invisible {
  height: 0 !important;
}

table.dx-datagrid-table.dx-datagrid-table-fixed {
  width: 100% !important;
  background-color: $white;
}

tr.dx-row.dx-column-lines.dx-header-row {
  background-color: $lightBlue;
  height: 5vh;
}

tr.dx-row.dx-data-row.dx-row-lines.dx-column-lines {
  color: $darkGray;
  height: 5vh;
}

div.dx-datagrid-text-content.dx-text-content-alignment-left,
table.dx-datagrid-table.dx-datagrid-table-fixed
  > tbody
  > tr.dx-row.dx-data-row.dx-row-lines.dx-column-lines
  > td {
  padding-left: 10px;
  padding-right: 5px;
}

table.dx-datagrid-table.dx-datagrid-table-fixed {
  border-collapse: collapse;
  border: 1px solid $lightBlue;
}

