<div class="bg-light p-5 rounded-lg m-3 mt-4">
    <h1 class="display-4">Factory App MERN</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, veniam odit! Atque, illo inventore voluptate distinctio maxime, nihil iste id cumque laboriosam quibusdam itaque! Voluptas, aut. Qui labore nostrum laudantium.</p>
    <a href="https://github.com/Rodas171315/Sistema-B2B" class="btn btn-primary btn-lg">Github Project</a>
</div>