<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo impedit provident incidunt ea assumenda, corrupti, nam quibusdam quisquam amet obcaecati, voluptate quidem? Labore provident aut ipsa est quidem, deserunt veritatis nisi aliquam? Commodi sapiente temporibus porro suscipit, unde ea natus accusantium magni, et nostrum nulla incidunt consequatur assumenda itaque recusandae delectus nobis quisquam. Aliquid magnam, provident voluptatum non nesciunt perspiciatis nam saepe ratione rem at dolore inventore iste voluptas eos! Error, ad nostrum? Exercitationem aut illo natus, magni expedita praesentium corporis iure eaque quod omnis iste, doloremque ullam fuga, harum dicta? Omnis pariatur, neque minima ullam officiis ipsam in asperiores odit nemo perspiciatis accusantium optio doloremque excepturi debitis eos quo voluptate cum ex tenetur velit natus modi deleniti. Quam, quod?</p>
    </div>
</div>