// Variables
// Colors
$white: #fff;
$black: #000;
$lightGray: #eeeeee;
$darkGray: #808080;
$gray: #ccc;
$darkGreen: #02353c;
$green: #449342;
$lightGreen: #2eaf7d;
$darkBlue: #16558f;
$blue: #0583d2;
$lightBlue: #8cd3ff;
$lightestBlue: #bfe6ff;

// Sizes
$max-width: 90%;
