@import '../../../public/sass/utilities/variables';

.login-form {
  width: 500px;
  max-width: 90vw;
  padding: 25px;
  margin: 42px auto;
  background-color: $white;
  border-radius: 10px;
}

.email-input-label {
  margin-top: 15px;
}

.email-input {
  margin-bottom: 10px;
}

.login-btn {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: $darkGreen;
  border-color: $darkGreen;
}
