@import '../../../public/sass/utilities/variables';

.product-image {
  height: 150px;
  width: auto;
  // Center the image
  margin: 0 0 0 10%;
}

.device-information-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 100%;
}

.device-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
}

.main-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}

.device-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}

.device-image {
  height: 150px;
  width: auto;
  margin: 10px;
}

.device-image-active {
  height: 150px;
  width: auto;
  margin: 10px;
  border: 5px solid $green;
}

.device-image:hover, .device-image-active:hover {
  cursor: pointer;
}

.main-device-image {
  height: 500px;
  width: auto;
}

.shopping-cart-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 35px;
}

.billing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.input-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.shopping-cart-list {
  width: 90%;
}

.clickable {
  cursor: pointer;
}
