@import '../../../public/sass/utilities/variables';

.device-search-form {
  max-width: $max-width;
  padding: 25px;
  margin: 42px auto;
  background-color: $white;
  border-radius: 10px;
}

.search-param-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-param-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 48%;
}
