<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Account Login</h3>
            </div>
            <img src="/img/Logo_UNIS.png" class="rounded-square mx-auto d-block m-4 logo" alt="Logo UNIS">
            <div class="card-body">
                <form class="needs-validation" novalidate action="/users/signin" method="POST">
                    <div class="input-group mb-3">
                        <label for="validationUserEmail" class="form-label"></label>
                        <input type="email" name="email" class="form-control" id="validationUserEmail" placeholder="Email" value="{{email}}" required>
                        <div class="invalid-feedback">Please provide an email.</div>
                    </div>
                    <div class="input-group mb-3">
                        <label for="validationUserPass" class="form-label"></label>
                        <input type="password" name="password" class="form-control" id="validationUserPass" placeholder="Password" value="{{password}}" required>
                        <div class="invalid-feedback">Please provide a password.</div>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-primary w-100" type="submit">SignIn</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>